
.page-header {
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: 3.0em;
  line-height: 1.0;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: var(--color-indigodye);
}
.page-content {
  min-height: 500px;
  margin: 0px 5% 0px 5%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
.page-content-header {
  text-align: center;
  font-size: 2.0em;
  line-height: 1.0;
  margin: 8px 0px 8px 0px;
  text-align: center;
  color: var(--color-indigodye);
}
.scan-upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-image: url(../assets/gray-plate.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.scan-upload-form label {
  display: none;
  font-size: 100px;
  text-align: center;
}
.scan-upload-form input {
  height: 40%;
  width: 40%;
  align-self: center;
}
.scan-upload-form input::file-selector-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.scan-upload-form input::-ms-browse {
  font-size: 3em;
  color: var(--color-richblack);
}

hr {
  margin-left: 10%;
  width: 80%;
  color: var(--color-powderblue);
}